// 一般突出颜色
$base-highlight-color:#ee3b4a;
// 一般颜色
$base-normal-color:#333;
//次一级颜色
$base-sub-color:#afafa9;
//未激活颜色
$base-inactive-color:#b5b5b5;
// 高亮背景颜色
$base-bg-highlight-color:#fefef2;

$header-height: 60px;
$header-bgc: #333;
$logo-width: 260px;

$footer-height: 30px;